@import "local/govuk";
@import "local/moj";
@import "local/period-element";
@import "components/phase_banner";


// NOTE: accessible-autocomplete copied from:
// https://github.com/alphagov/accessible-autocomplete/blob/main/src/autocomplete.css
// commit:aff5a284dba8ed674706bb8db3b3c1b7752c1285
// customised to include govuk styling in local/custom.scss
@import "local/accessible-autocomplete";