<% title t('.page_title') %>
<% step_header(path: applications_path) %>
<% debugger %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-thirds">
    <h1 class="govuk-heading-l">Review your claim</h1>
    <%= govuk_error_summary(@form_object) %>
    <% @claims.each do |key, value| %>
      <dl class="govuk-summary-list">
        <dt class="govuk-summary-list__key">
          <%= key %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= value %>
        </dd>
        </dl>
      <% end %>
          
      </div>
</div> 
