<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(form) %>
    <%= form_with(model: form, url: update_path, method: :patch) do |f| %>
      <%= f.govuk_collection_radio_buttons :selected_office_code, form.choices, :to_s, :to_s, inline: false,
                                           legend: { tag: 'h1', size: 'xl', text: t('.page_title') } %>

      <%= f.continue_button(secondary: false) %>
    <% end %>
  </div>
</div>
