version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "03:00"
    timezone: Europe/London
  groups:
    bundler:
      patterns:
        - "*"
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/"
  ignore:
    - dependency-name: "puppeteer"
    - dependency-name: "puppeteer-core"
  schedule:
    interval: weekly
    day: wednesday
    time: "03:00"
    timezone: Europe/London
  groups:
    npm-babel:
      patterns:
        - "*"
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "03:00"
    timezone: Europe/London
  groups:
    github-actions:
      patterns:
        - "*"
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
    day: wednesday
    time: "03:00"
    timezone: Europe/London
  groups:
    docker:
      patterns:
        - "*"
  open-pull-requests-limit: 10

