@use "../../_imports.scss" as *;

$app-uat-colour: govuk-colour("orange",$variant: "primary");
$app-staging-colour: govuk-colour("teal", $variant: "primary");
$app-dev-colour: govuk-colour("magenta", $variant: "primary");
$app-local-colour: govuk-colour("purple", $variant: "primary");

.app-environment-uat {
  .govuk-header__container {
    border-bottom-color: $app-uat-colour;
  }

  .govuk-tag.govuk-phase-banner__content__tag {
    background-color: $app-uat-colour;
  }
}

.app-environment-staging {
  .govuk-header__container {
    border-bottom-color: $app-staging-colour;
  }

  .govuk-tag.govuk-phase-banner__content__tag {
    background-color: $app-staging-colour;
  }
}

.app-environment-dev {
  .govuk-header__container {
    border-bottom-color: $app-dev-colour;
  }

  .govuk-tag.govuk-phase-banner__content__tag {
    background-color: $app-dev-colour;
  }
}

.app-environment-local {
  .govuk-header__container {
    border-bottom-color: $app-local-colour;
  }

  .govuk-tag.govuk-phase-banner__content__tag {
    background-color: $app-local-colour;
    color: white;
  }
}
