<% title t('.page_title') %>
<% step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <% @report.sections.each do |section| %>
      <h2 class="govuk-heading-m"><%= section[:heading] %></h2>
    <% end %>
    <div class="govuk-button-group">
      <%= link_to steps_start_page_path(current_application), class: "govuk-button", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and continue
      <% end %>
      <%= link_to steps_start_page_path(current_application), class: "govuk-button govuk-button--secondary", data_module: "govuk-button", data_prevent_double_click: "true" do %>
        Save and come back later
      <% end %>
    </div>
  </div>
</div>
