<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      More info needed
    </h2>
    <div class="govuk-error-summary__body">
      <p>We need more informationto help us review your report.</p>
      <p>We've highlighted the sections you need to look at.</p>
    </div>
  </div>
</div>