.govuk-table .govuk-pre-line {
  white-space: pre-line;
}

.govuk-table .govuk-table__foot {
  font-weight: 700;
  border-top: 3px solid #b1b4b6;
}

.govuk-table .govuk-table__foot .govuk-table__row .govuk-table__footer {
  text-align: left;
  padding: 10px 20px 10px 0;
}

.govuk-table .govuk-table__foot .govuk-table__row .govuk-table__footer--numeric {
  text-align: right;
}

.govuk-table .govuk-table__foot .govuk-table__row:last-of-type .govuk-table__header {
  border-bottom: none;
}

.govuk-table .govuk-table__foot .govuk-table__row .govuk-table__footer:last-child {
  padding-right: 0;
}