.govuk-table__nowrap {
  white-space: nowrap;
}

.govuk-table__space-30 {
  width: 100% !important
}

@media(min-width: 40.0625em) {
  .govuk-table__space-30 {
    width: 30% !important
  }
}

.govuk-table__space-25 {
  width: 100% !important
}

@media(min-width: 40.0625em) {
  .govuk-table__space-25 {
    width: 25% !important
  }
}

.govuk-table__space-20 {
  width: 100% !important
}

@media(min-width: 40.0625em) {
  .govuk-table__space-20 {
    width: 20% !important
  }
}

.govuk-table__space-15 {
  width: 100% !important
}

@media(min-width: 40.0625em) {
  .govuk-table__space-15 {
    width: 15% !important
  }
}

.govuk-table__space-10 {
  width: 100% !important
}

@media(min-width: 40.0625em) {
  .govuk-table__space-10 {
    width: 10% !important
  }
}