<% if local_assigns[:pagy] %>
  <div class="app-pagination__container govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-one-half">
      <%= govuk_pagination(pagy:) %>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-text-align-right">
        <%= render 'shared/pagination_info', { pagy: , item: } %>
    </div>
  </div>
<% end %>
