<% title t('.page_title') %>

<turbo-frame id="disbursements">
  <h3 class="govuk-heading-m">
    <%= t('.disbursements') %>
  </h3>

  <% pagy, disbursements = pagy(@disbursements.where.not(adjustment_comment: nil)) %>
  <% if disbursements.size.zero? %>
    <p><%= t('.no_data') %></p>
  <% else %>
    <%
      head = [
        { text: t('.item'), width: 'govuk-!-width-one-quarter' },
        { text: t('.net_cost'), numeric: true },
        { text: t('.vat'), numeric: true },
        { text: t('.gross_cost'), numeric: true },
        { text: t('.allowed_net_cost'), numeric: true },
        { text: t('.allowed_vat'), numeric: true },
        { text: t('.allowed_gross_cost'), numeric: true },
        { text: t('.action'), numeric: true }
      ]
      disbursements.group_by { _1.record.disbursement_date }.each do |disbursement_date, disbursements_for_date| %>
      <%=
        rows = disbursements_for_date.map do |disbursement|
          link = link_to(t('.view'), item_nsm_steps_view_claim_path(id: current_application.id, item_type: :disbursement, item_id: disbursement.record.id, page: pagy.page, section: 'adjustments'), data: { turbo: 'false' })

          [
            disbursement.record.translated_disbursement_type,
            { text: NumberTo.pounds(disbursement.total_cost_without_vat), numeric: true },
            { text: NumberTo.pounds(disbursement.vat), numeric: true },
            { text: NumberTo.pounds(disbursement.total_cost), numeric: true },
            { text: NumberTo.pounds(disbursement.allowed_total_cost_without_vat), numeric: true },
            { text: NumberTo.pounds(disbursement.allowed_vat), numeric: true },
            { text: NumberTo.pounds(disbursement.allowed_total_cost), numeric: true },
            { text: link, numeric: true }
          ]
        end

        govuk_table do |table|
          table.with_caption(text: disbursement_date.strftime('%-d %B %Y'), size: 's')
          table.with_head(rows: [head])
          table.with_body(rows: rows, first_cell_is_header: true)
        end
      %>
    <% end %>
    <%= render "shared/pagination",  { pagy: pagy, item: t('.table_info_item') } %>
  <% end %>
</turbo-frame>
