<% title t('.page_title') %>

<turbo-frame id="letters_and_calls">
  <h3 class="govuk-heading-m">
    <%= t('.letters_and_calls') %>
  </h3>

  <%
    head = [
      { text: t('.line_item') },
      { text: t('.item'), width: 'govuk-!-width-one-quarter' },
      { text: t('.adjustment_comment'), width: 'govuk-!-width-one-quarter' },
      { text: t('.allowed_number'), numeric: true },
      { text: t('.allowed_uplift'), numeric: true },
      { text: t('.allowed_net_cost'), numeric: true },
    ]

    letters_link = link_to(t('.letters'), letters_nsm_steps_view_claim_path(id: current_application.id, section: 'adjustments'), data: { turbo: 'false' })
    calls_link = link_to(t('.calls'), calls_nsm_steps_view_claim_path(id: current_application.id, section: 'adjustments'), data: { turbo: 'false' })

    rows = [
      ([
        { header: true, text: '1', numeric: false },
        { header: true, text: letters_link },
        { text: simple_format(@claim.letters_adjustment_comment), numeric: false },
        { text: @claim.allowed_letters || @claim.letters, numeric: true },
        { text: NumberTo.percentage((@claim.allowed_letters_uplift || @claim.letters_uplift).to_f, multiplier: 1), numeric: true },
        { text: NumberTo.pounds(@claim.allowed_letters_after_uplift), numeric: true },
      ] if @claim.letters_adjustment_comment),
      ([
        { header: true, text: '1', numeric: false },
        { header: true, text: calls_link },
        { text: simple_format(@claim.calls_adjustment_comment), numeric: false },
        { text: @claim.allowed_calls || @claim.calls, numeric: true },
        { text: NumberTo.percentage((@claim.allowed_calls_uplift || @claim.calls_uplift).to_f, multiplier: 1), numeric: true },
        { text: NumberTo.pounds(@claim.allowed_calls_after_uplift), numeric: true },
      ] if @claim.calls_adjustment_comment)
    ].compact
  %>

  <% if rows.none? %>
    <p><%= t('.no_data') %></p>
  <% else %>
    <%=
      govuk_table_with_cell(head, rows)
    %>
  <% end %>
</turbo-frame>
