<% title t('.page_title') %>
<%
  form = Nsm::Steps::LettersCallsForm.build(@claim)
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>

    <%=
      rows = [
        [{ text: t(".rate"), width: 'govuk-!-width-one-half' }, NumberTo.pounds(form.pricing.calls)],
        [t(".number"), form.calls.to_s],
        [t(".uplift"), NumberTo.percentage(form.calls_uplift.to_f, multiplier: 1)],
        [t(".net_cost"), NumberTo.pounds(form.calls_after_uplift)]
      ]

      govuk_table do |table|
        table.with_caption(text: t('.your_costs'))
        table.with_body(rows: rows)
      end
    %>
  </div>
</div>
