<% title t('.page_title') %>

<turbo-frame id="disbursements">
  <h3 class="govuk-heading-m">
    <%= t('.disbursements') %>
  </h3>

  <% if @disbursements.size.zero? %>
    <p><%= t('.no_data') %></p>
  <% else %>
    <%
      pagy, disbursements = pagy_array(@disbursements, items: 100)
      head = {
      'line_item' => false,
      'item' => false,
      'date' => false,
      'net_cost' => false,
      'vat' => [],
      'gross_cost' => []
    }
    %>

    <%=
      rows = disbursements.each_with_index.map do |disbursement, index|

        link = link_to(disbursement.record.translated_disbursement_type, item_nsm_steps_view_claim_path(id: current_application.id, item_type: :disbursement, item_id: disbursement.record.id, page: pagy.page), data: { turbo: 'false' })

        [
          { header: true, text: index + 1, numeric: false},
          { header: true, text: link, numeric: false},
          { text: disbursement.disbursement_date&.to_fs(:short_stamp), numeric: false },
          { text: NumberTo.pounds(disbursement.total_cost_without_vat), numeric: true },
          { text: NumberTo.pounds(disbursement.vat), numeric: true },
          { text: NumberTo.pounds(disbursement.total_cost), numeric: true },
        ]
      end
      header_row = head.map.with_index do |(column_key, numeric), index|
        aria_sort, next_direction = sort_variable(column_key, @sort_by, @sort_direction)
          {
            text: reorder_form(disbursements_nsm_steps_view_claim_path(current_application), column_key, next_direction, "nsm.steps.view_claim.disbursements", index),
            numeric: numeric,
            html_attributes: { 'aria-sort': aria_sort}
          }
      end

      govuk_table_with_cell(header_row, rows, caption: { text: t('.accessible_text.disbursements_caption'), html_attributes: { 'class': 'govuk-visually-hidden'} })
    %>
  <% end %>
  <%= render "shared/pagination",  { pagy: pagy, item: t('.table_info_item') } %>
</turbo-frame>
