<% title t('.page_title') %>
<% decision_step_header(path: nsm_steps_view_claim_path(current_application.id, section: params.fetch(:section, 'claimed_costs'), disbursements_page: params[:page],  anchor: 'disbursements-tab')) %>
<%
  disbursement = @claim.disbursements.find(params[:item_id])
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= disbursement.translated_disbursement_type %></h1>

    <%=
      if disbursement.adjustment_comment
        allowed_miles = disbursement.allowed_miles || disbursement.miles
        rows = [
          ([{ text: t(".allowed_miles"), width: 'govuk-!-width-one-half' }, t(".mileage", count: allowed_miles, miles: NumberTo.formatted(allowed_miles))] if disbursement.miles),
          [{ text: t(".allowed_net_cost"), width: 'govuk-!-width-one-half' }, NumberTo.pounds(disbursement.allowed_total_cost_pre_vat)],
          [t(".allowed_vat"), NumberTo.pounds(disbursement.allowed_vat)],
          [t(".allowed_gross_cost"), NumberTo.pounds(disbursement.allowed_total_cost)],
          [t(".adjustment_comment"), disbursement.adjustment_comment]
        ]

        govuk_table do |table|
          table.with_caption(text: t('.adjusted'))
          table.with_body(rows: rows)
        end
      end
    %>
    <%=
      rows = [
        [{ text: t(".date"), width: 'govuk-!-width-one-half' }, disbursement.disbursement_date.strftime('%-d %B %Y')],
        [t(".type"), disbursement.translated_disbursement_type],
        [t(".details"), multiline_text(disbursement.details)],
        [t(".prior_auth"), disbursement.prior_authority.humanize],
        ([t(".miles"), t(".mileage", count: disbursement.miles, miles: NumberTo.formatted(disbursement.miles))] if disbursement.miles),
        [t(".net_cost"), NumberTo.pounds(disbursement.total_cost_pre_vat)],
        [t(".vat"), NumberTo.pounds(disbursement.vat)],
        [t(".gross_cost"), NumberTo.pounds(disbursement.total_cost)]
      ]

      govuk_table do |table|
        table.with_caption(text: t('.your_costs'))
        table.with_body(rows: rows)
      end
    %>
  </div>
</div>
