<% title t('.page_title') %>

<turbo-frame id="letters_and_calls">
  <h3 class="govuk-heading-m">
    <%= t('.letters_and_calls') %>
  </h3>

  <%
    head = [
      { text: t('.line_item') },
      { text: t('.item'), width: 'govuk-!-width-one-quarter' },
      { text: t('.number'), numeric: true },
      { text: t('.uplift'), numeric: true },
      { text: t('.net_cost'), numeric: true }
    ]
    letters_link = link_to(t('.letters'), letters_nsm_steps_view_claim_path(id: current_application.id), data: { turbo: 'false' })
    calls_link = link_to(t('.calls'), calls_nsm_steps_view_claim_path(id: current_application.id), data: { turbo: 'false' })
    rows = [
      ([
        { header: true, text: '1', numeric: false },
        { header: true, text: letters_link },
        { text: @claim.letters, numeric: true },
        { text: NumberTo.percentage(@claim.letters_uplift.to_f, multiplier: 1), numeric: true },
        { text: NumberTo.pounds(@claim.letters_after_uplift), numeric: true }
      ] unless @claim.letters.zero?),
      ([
        { header: true, text: "#{@claim.letters.zero? ? 1 : 2}", numeric: false},
        { header: true, text: calls_link },
        { text: @claim.calls, numeric: true },
        { text: NumberTo.percentage(@claim.calls_uplift.to_f, multiplier: 1), numeric: true },
        { text: NumberTo.pounds(@claim.calls_after_uplift), numeric: true }
      ] unless @claim.calls.zero?)
    ].compact
  %>
  <% if rows.none? %>
    <p><%= t('.no_data') %></p>
  <% else %>
    <%= govuk_table_with_cell(head, rows, caption: { text: t('.accessible_text.letters_and_calls_caption'), html_attributes: { 'class': 'govuk-visually-hidden'} }) %>
  <% end %>
</turbo-frame>
