<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t("prior_authority.applications.show.laa_response") %>
  </dt>
  <dd class="govuk-summary-list__value">
    <% t('prior_authority.applications.show.expiry_explanations',
          requested: application.resubmission_requested.to_fs(:stamp),
          deadline: application.resubmission_deadline.to_fs(:stamp)).each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
  </dt>
</div>
