<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t("prior_authority.applications.show.laa_response") %>
  </dt>
  <dd class="govuk-summary-list__value">
    <% t('prior_authority.applications.show.sent_back_explanations_html',
        deadline: tag.strong(@application.resubmission_deadline.to_fs(:stamp))).each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
    <% if @application.further_informations.exists? %>
      <%= govuk_button_link_to(t('prior_authority.applications.show.update_application'),
                               '#TODO: CRM457-1192') %>
    <% else %>
      <%= govuk_button_link_to(t('prior_authority.applications.show.update_application'),
                               edit_prior_authority_steps_check_answers_path(@application)) %>
    <% end %>
  </dd>
</div>
