<li class="govuk-pagination__item<%= ' govuk-pagination__item--current' if page.current? %>">
  <%= link_to t('views.pagination.page_html', count: page), url, { remote: remote, class: "govuk-link govuk-pagination__link", rel: page.next? ? 'next' : page.prev? ? 'prev' : nil } %>
</li>