// GOV.UK Frontend
//
$govuk-new-link-styles: true;
$govuk-global-styles: true;
$govuk-assets-path: 'govuk-frontend/dist/govuk/assets/';

@import "govuk-frontend/dist/govuk/all";

$govuk-is-ie8: false;
$govuk-ie8-breakpoint: ('desktop');
@mixin govuk-if-ie8 {
  @if false {
    @content;
  }
}
@mixin govuk-not-ie8 {@content}
