<% title t('.page_title') %>
<% decision_step_header %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_error_summary(@form_object) %>
    <%= step_form @form_object do |f| %>
      <%= f.govuk_collection_radio_buttons(
        :include_youth_court_fee,
        YesNoAnswer.radio_options,
        :value,
        :label,
        legend: { text: t('.heading'), size: 'l', tag: 'h1' },
        hint: { text: t('.hint') }
      ) %>
      <%= f.continue_button %>
    <% end %>
  </div>
</div>
