<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.page_title') %></h1>
    <% if current_application.prison_law? %>
      <p class="govuk-text"><%= t(".explanation.prison_law.yes") %></p>
    <% else %>
      <p class="govuk-text"><%= t(".explanation.prison_law.no") %></p>
    <% end %>
    <%= link_to t('.finish'), prior_authority_root_path, class: 'govuk-button' %>
  </div>
</div>
