// This file MUST now be included in any additional SCSS files

@use "node_modules/govuk-frontend/dist/govuk" as * with (
    $govuk-global-styles: true,
    $govuk-assets-path: '/',
    $govuk-new-organisation-colours: true
);

@forward "node_modules/@ministryofjustice/frontend/moj/all" with (
    $govuk-new-organisation-colours: true
);
