@import "../../../gems/laa_multi_step_forms/app/assets/stylesheets/laa_multi_step_forms/base.scss";
@import "./custom/govuk-date-legend";
@import "./custom/govuk-formgroup";
@import "./custom/govuk-summary-list";
@import "./custom/govuk-table__nowrap";
@import "./custom/govuk-table";
@import "./custom/task_list";
@import "./custom/asides";
@import "./custom/accessible-autocomplete";
@import "./custom/postal-coversheet";
@import "./custom/print-friendly";
@import "@ministryofjustice/frontend/moj/helpers/all";
@import "@ministryofjustice/frontend/moj/utilities/hidden";
@import "@ministryofjustice/frontend/moj/components/multi-file-upload/multi-file-upload";
@import "@ministryofjustice/frontend/moj/components/banner/banner";

.govuk-button-group.confirmation-button-group > form {
    display: inline-flex;
}
