# Default values for laa-submit-crime-forms.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: laa-submit-crime-forms-dev

image:
  repository: nginx
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: laa-submit-crime-forms-app
fullnameOverride: laa-submit-crime-forms-app

securityContext:
  #  capabilities:
  #    drop:
  #    - ALL
  #  readOnlyRootFilesystem: true
  #  runAsNonRoot: true
  #  runAsUser: 10000
  #  allowPrivilegeEscalation: false

service:
  type: ClusterIP
  port: 80
  internalPort: 3000
  workerPort: 7433

ingress:
  enabled: true
  className: modsec
  annotations:
    external-dns.alpha.kubernetes.io/set-identifier: laa-submit-crime-forms-app-laa-submit-crime-forms-dev-green
  hosts:
    - host: dev.submit-crime-forms.service.justice.gov.uk
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
          service:
            name: laa-submit-crime-forms-dev
            port:
              number: 3000
  tls:
    - hosts:
      - dev.submit-crime-forms.service.justice.gov.uk
      secretName: laa-submit-crime-forms-cert

app_resources:
  limits:
    cpu: 500m
    memory: 4Gi
  requests:
    cpu: 10m
    memory: 1Gi

clamav_resources:
  limits:
    cpu: 500m
    memory: 4Gi
  requests:
    cpu: 10m
    memory: 1Gi

worker_resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 10m
    memory: 1Gi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 95
  targetMemoryUtilizationPercentage: 95

variables:
  environment: development
  portalIDPMetadataFile: config/laa_portal/metadata/dev.xml
  spEntityId: LAA_Portal_CRM7_Dev
  appStore: https://main-nscc-store-dev.cloud-platform.service.justice.gov.uk
  maxFileUploadBytes: 10485760
  eolUrl: https://apply-for-extension-of-upper-limits.dev.form.service.justice.gov.uk/
  enableSyncTriggerEndpoint: 'true'
  allowIndexing: 'false'

service_account:
  name: laa-submit-crime-forms-dev-irsa

# This is used to configure the temporary non-RDS postgres DB
postgresql:
  enabled: true
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 250m
      memory: 256Mi
  auth:
    database: nsm_assess_dev
    enablePostgresUser: true
    postgresPassword: postgres
  postgresqlUsername: postgres
  primary:
    persistence:
      enabled: true
    containerSecurityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop: [ "ALL" ]

# see https://artifacthub.io/packages/helm/bitnami/redis for parameters
redis:
  enabled: true
  architecture: standalone
  master:
    resources:
      limits:
        cpu: 250m
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 64Mi
    containerSecurityContext:
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        drop: [ "ALL" ]
  auth:
    enabled: true
    password: redis

